There are 2 types of databases
-Internal,
-External

Database is a collection of tables, view and all schemas.
Table is a collections of rows and column

## Operations of database

1. Create table or database 
2. Insert into the table 
3. Delete data from the table
4. Update the data in the table
5. Get all the data from the table

In [1]:
#SQLite database is the default database in python

In [2]:
import sqlite3

In [16]:
ramya = sqlite3.connect("MouriTechdemo.db")
ramya.close()

In [19]:
# above cell is to create databse file

In [22]:
ramya = sqlite3.connect("MouriTechdemo.db")
create = "create table Employeedem(eid integer, ename text, edept text);"
ramya.execute(create)
ramya.close()

In [9]:
# Above cell is to create a table

In [37]:
ramya = sqlite3.connect("Mouritechdemo.db")
insert = "insert into Employeedem(eid, ename, edept) values(503249, 'Navya', 'Digital');"
ramya.execute(insert)
#we need to save the data after inserting
ramya.commit()
ramya.close()

#Above cell is for inserting values into table

In [12]:
#inserting multiple values

In [55]:
# insert multiple values
ramya = sqlite3.connect("Mouritechdemo.db")
insert = "insert into Employeedem(eid, ename, edept) values(503249, 'Ome', 'Digital'), (503251, 'Charan', 'UI/UX');"
ramya.execute(insert)
#we need to save the data after inserting
ramya.commit()
ramya.close()

In [28]:
#Delect entire table data
ramya = sqlite3.connect("Mouritechdemo.db")
delete = "delete from Employeedem"
ramya.execute(delete)
# we need to save the data after inserting
ramya.commit()
ramya.close()

In [33]:
#Delete a particular data
ramya = sqlite3.connect("Mouritechdemo.db")
delete = "delete from Employeedem where eid = 503249"
ramya.execute(delete)
# we need to save the data after inseting
ramya.commit()
ramya.close()

In [56]:
#show the data of the table
ramya = sqlite3.connect("Mouritechdemo.db")
select = "select * from Employeedem;"
res = ramya.execute(select)
print(list(res))
ramya.close()

[(503251, 'Charan', 'Web Development'), (503248, 'Ramya', 'Digital'), (503249, 'Navya', 'Web Development'), (503249, 'Ome', 'Digital'), (503251, 'Charan', 'UI/UX')]

In [54]:
ramya = sqlite3.connect("Mouritechdemo.db")
select = "select * from Employeedem;"
res = ramya.execute(select)
for i in res:
    print(i[0], i[1], i[2])
ramya.close()

503251 Charan Web Development
503248 Ramya Digital
503249 Navya Web Development

In [40]:
ramya = sqlite3.connect("Mouritechdemo.db")
select = "select * from Employeedem;"
res = ramya.execute(select)
for i in res:
    print(i[0])
ramya.close()

503251
503248
503249

In [42]:
#Update the whole table
ramya = sqlite3.connect("Mouritechdemo.db")
update ="update Employeedem set edept ='python';"
ramya.execute(update)
#we need to save the data after inserting
ramya.commit()
ramya.close()

In [47]:
# Update particular value
ramya = sqlite3.connect("Mouritechdemo.db")
update ="update Employeedem set edept ='Digital' where eid =503248 ;"
ramya.execute(update)
#we need to save the data after inserting
ramya.commit()
ramya.close()

In [53]:
ramya = sqlite3.connect("Mouritechdemo.db")
update ="update Employeedem set edept ='Web Development' where eid =503251 or eid = 503249;"
ramya.execute(update)
#we need to save the data after inserting
print(ramya.total_changes) # This is for getting total number of changes in the table
ramya.commit()
ramya.close()

2

In [57]:
#Adding condition(constraints) to the column of table # avoid duplicates
ramya = sqlite3.connect("Mouritechdemo.db")
student = "create table student(sid integer primary key, sname text, same integer);"
ramya.execute(student)
ramya.close()

In [60]:
ramya = sqlite3.connect("Mouritechdemo.db")
student = "insert into student values(1,'Ramya', 20);" #we cann't insert duplicate id again primary key
ramya.execute(insert)
ramya.commit()
ramya.close()

In [ ]:
ramya = sqlite3.connect("Mouritechdemo.db")
select = "select * from Employeedem order by eid desc;"
res = ramya.executes(select)
for i in res:
    print(i[0], i[1],i[2])
ramya.close()

In [ ]:
ramya = sqlite3.connect("Mouritechdemo.db")
select = "select distinct eid,ename,edept from employee order by eid desc;"
res = ramya.executes(select)
for i in res:
    print(i[0])
ramya.close()

In [ ]:
!pip install mysql-connector-python

In [ ]:
!pip install pymysql

In [ ]:
import pymysql

In [ ]:
import mysql.connector

In [ ]:
ramya = pysql.connect(host="localhost", user ="root", password="")
ramya.close()

In [ ]:
#Above cell is used for connecting any of the databses

In [ ]:
ramya = pymysql.connect(host ="localhost", user=root, password="", databse="")
create = "create table Mouritechdemo(eid integer primary key)"

In [ ]:
ramya = pymysql.connect(host="localhost", user="root", password="", database="MouriTech")
insert ="insert into Mouritechdemo(ename, edept) values('Sudeb', 'Web');"
con = ramya.cursor()
con.exexute(insert)
ramya.commit()
ramya.close()

In [ ]:
ramya = pymysql.connect(host="localhost", user="root", password="", database="MouriTech")
update ="update Mouritechdemo set ename ='Lata', edept = 'python' where eid=2;"
con = ramya.cursor()
con.exexute(update)
ramya.commit()
ramya.close()

In [ ]:
ramya = pymysql.connect(host="localhost", user="root", password="", database="MouriTech")
select = "select * from Mouritechdemo"
con = ramya.cursor()
res.con.execute(select)
print(res)
myres = con.fetchall()
for i,j,k in myres:
    print(i,j,k)
ramya.close()

In [ ]:
# instead of python

In [ ]:
#WAP to find sum of all the ids