# Dynamic input

In [2]:
z=input()

45.96

In [3]:
z

'45.96'

In [4]:
#python by default takes string as input

In [5]:
y = int(input())

100

In [6]:
y

100

In [ ]:
name=input("Enter the value: ")
age=float(input("Enter the age: "))
print(f"Enter the name is {name} and enter age is {age}")

In [ ]:
name, age

In [19]:
# In Ramya last 3 letters should be printed mya
# Number of words in a sentence

In [66]:
a="Ramya"

In [67]:
x=slice(5,4)

In [69]:
print(a[x])

In [40]:
a="Navya"

In [65]:
a[-3], a[-2],a[-1]

('v', 'y', 'a')

In [81]:
f2 = open("ramya.txt", "w")
f2.write(" This is My first file program")

30

In [101]:
print(write(input("Enter a sentence")))

NameError: name 'write' is not defined

In [96]:
print((input("Enter Input:").split())[1])

Enter Input:gch  hbjxn ghcj
hbjxn

In [ ]:
countofWords=len("This is sentence".split())
print("count the given sentence:",countofWords )

In [99]:
countofWordsletters=len("This is sentence".split())

In [102]:
words = input("Enter the value:")
words.write()

Enter the value:vvv ffvfv

AttributeError: 'str' object has no attribute 'write'

In [119]:
myInput = input()
oplist = myInput.split()
mWord=""
if len(oplist)%2:
    mWord = oplist[len(oplist)//2]
else:
    print(((len(oplist)//2) + 1))
    mWord = oplist[(len(oplist)//2)]
print(mWord)

this is the one that obj
4
one

In [104]:
5%2

1

In [116]:
6%2

0

In [114]:
4//2

2

In [108]:
22/7

3.142857142857143

In [109]:
22//7

3

In [1]:
mylist=[1,2,3,4,5]
print(mylist[-1])

5

In [3]:
def swap(x,y):
    x,y=y,x
    return x,y
x=2
y=3
x,y=swap(x,y)
print(x, y)

3 2

In [4]:
points = [2,4,1,3]
rank = points.sort()
print(rank)

None

In [5]:
a = {'B':5,'A':9,'C':7}
sorted(a)

['A', 'B', 'C']

In [30]:
L1=[32,3,54,8,100]
L2 =[2]
L3=[]
for (x,y) in zip(L1, L2):
    print(L1, L2)
    if x>10 and(y<5):
#         L3 = L3 + (x+y)
        print(L3)

TypeError: can only concatenate list (not "int") to list

In [9]:
x=1 <<2

In [10]:
1st =[2,]*3
print(1st)

SyntaxError: invalid syntax (3570539996.py, line 1)

In [11]:
print("xyyzxyzxzxyy".count('yy',2))

1

In [15]:
I=list('HELLO')
p=I[0],I[-1],I[1:3]
'a={0},b{1},c={2}'.format(*p)

"a=H,bO,c=['E', 'L']"

In [20]:
bin((2**16)-1)

'0b1111111111111111'

In [21]:
print(format(bin((2**16)-1)))

0b1111111111111111

In [23]:
x=34
print("%f"%x)

34.000000

s1={3,4}
s2={1,2}
s3=set()
i=0
j=0
for i in s1:
for j in s2:
s3.add((i,j))
i+=1
j+=1
print(s3

In [25]:
s1={3,4} 
s2={1,2}
s3=set()
i=0 
j=0 
for i in s1: 
    for j in s2: s3.add((i,j)) 
        i+=1 j+=1 
        print(s3)

IndentationError: unexpected indent (2443982454.py, line 8)

In [27]:
bin(0x8)

'0b1000'